# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Document\Document sur le bureau\Etude Annecy\Semestre 6\PROJ 632\PROJ632 - TripAdvisor2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
